extends layout

block content
    div
      h5 カテゴリ名: #{cName}
      div
        table
          tr
            th
              a(href=`/recommendations/${categoryId}/book`).btn.btn-success.my-3 書籍を追加する
      input(type="hidden" name="categoryId" value=categoryId)    
      div
        - var hasbook = bookNamesMap.size > 0
      if hasbook
        h3 書籍一覧
        table.table.table-bordered
          tr
            th 書籍名
                th コメント数
            - for (var key of bookNamesMap.keys())          
                tr
                td
                    a(href=`/recommendations/${categoryId}/${key}`) #{key}
                - var value = bookNamesMap.get(key)
                td #{value}
    