extends layout

block content
  h3 カテゴリー：#{cName}
  
  p 作成者: #{cCreatedBy}

  div
      a(href=`/`)  TOPに戻る
      div
        a(href=`/recommendations/${categoryId}`) 書籍一覧に戻る

  table
    tr
      th おすすめの書籍
        th #{bookName}
          th 
            a(href=`/recommendations/${categoryId}/${recommendId}/comment`) コメントを追加する
    tr
      th 書評
        th #{introduction}
        - for (var key of bookCommentsMap.keys())
          tr
            - var value = bookCommentsMap.get(key)
          if (isComment)
            th 投稿者
            th コメント
            tr  
              td #{key}
              td #{value}
    tr
      td
        p#comment-postedBy 
      td
        p#self-comment
      tr
    button(
      data-recommend-id=recommendId
      data-category-id=categoryId
      data-book-name=bookName
      data-user-id=userId
      data-my-comment=myComment)#self-comment-button コメントの追加/編集
